
body {
font-family: Arial, Helvetica, sans-serif;
}
    
main {
    position: absolute;
    border: solid 4px rgb(202, 199, 199);
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 150px
   }

 h2 {
    color: white;
    background-color: #95c380;
    width: 350px;
    height: 35px;
    padding-left: 70px;
    padding-top: 10px;
}
li {
    color: orange;
    font-weight: bold;
    padding: 10px; 
}
select {
    border: solid 4px rgb(149,195,128);
    width: 270px;
    height: 45px;
    margin-right: 5px;
    color: orange;
    font-weight: bold;
}

button{
    border: solid 4px rgb(149,195,128);
    color: rgb(149,195,128);
    height: 45px;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
}
